* {
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}

audio{
  background-color: red;
}

h1, h2, h3{
    text-align: center;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

h4{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}

.header-projetos{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.container{
  background-color: white;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.post-image{
  width: 50%;

}

.footer {
  height: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
  background-color:mediumpurple;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 16px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

li{
  list-style-type: none;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
.row {margin: 0 -5px;}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
  

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.badges{
  display: inline-block;
}
